body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(195, 222, 253);
}
h1{
    color: rgb(59, 101, 238);
}
form{
    background-color: white;
    text-align: center;
    max-width: 350px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(77, 105, 114, 0.26);
    padding: 20px 10px;


}
#temp{
   width: 50%;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.534);
    border-width: 1px;
    height: 20px;
    text-align: center;
    
}
button{
    border: none;
    cursor: pointer;
    background-color: rgb(59, 101, 238);
    color: white;
    padding: 9px;
    border-radius: 8px;
    width: 50%;
}
button:hover{
    background-color: rgb(63, 63, 245);
}
button:active{
    background-color: rgb(11, 11, 238);
}